<div *ngIf="this.product" class="card mb-2" style="width: 15rem; height: 25rem; cursor: pointer;">
    <img [routerLink]="['product']" [queryParams]="{id: product.product.id}" class="card-img-top w-100 img-style" src="http://localhost:8080/product/image/{{this.product.product.id}}?index=0" alt="Card image cap">
    <div [routerLink]="['product']" [queryParams]="{id: product.product.id}" *ngIf="product.discount.value != 0" class="discount-label p-1">
        -{{product.discount.value}}%
    </div>
    <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title text-info">{{product.product.name}}</h5>
        <p class="card-text">{{reducer(product.product.description)}}</p>
        <div>
            <p [ngClass]="{'price-discount': product.discount.value != 0}">{{cal(product.product.price, product.discount.value).toLocaleString()}} đ</p>
            <button class="btn btn-primary">Mua Ngay</button>
        </div>
    </div>
    
</div>
