<h1>Thông Tin Tài Khoản</h1>
<hr />
<div class="d-flex w-100">
    <div class="p-3 bg-light w-75">
        <div class="d-flex">
            <img *ngIf="this.user.id != ''" class="img-style" [src]="make(this.user.id)" />
            <div class="mx-4">
                <div class="d-flex">
                    <mat-form-field class="example-full-width">
                        <mat-label>Họ</mat-label>
                        <input (change)="getInfo($event)" name="firstName" matInput value="{{user.firstName}}">
                    </mat-form-field>
                    <mat-form-field class="example-full-width mx-3">
                        <mat-label>Tên</mat-label>
                        <input (change)="getInfo($event)" name="lastName" matInput value="{{user.lastName}}">
                    </mat-form-field>
                </div>
                <h3 class="mt-3">Email: <span class="email-show text-warning">{{this.user.email}}</span></h3>
            </div>
        </div>
        
        <div class="mt-2 d-flex">
            <div class="d-flex">
                <h3>Giới Tính</h3>
                <mat-radio-group (change)="getGender($event)" class="mx-5" aria-label="Select an option">
                    <mat-radio-button [checked]="this.user.gender == 'male'" value="male">Male</mat-radio-button>
                    <mat-radio-button [checked]="this.user.gender == 'female'" class="mx-3" value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field class="example-full-width w-50">
                <mat-label>Số Điện Thoại</mat-label>
                <input (change)="getInfo($event)" name="phone" matInput [value]="this.user.phone">
            </mat-form-field>
        </div>
        <div class="w-100">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Địa Chỉ</mat-label>
                <textarea (change)="getInfo($event)" name="address" matInput [value]="this.user.address"></textarea>
            </mat-form-field>
            <button (click)="submitUpdateInfoUser()" mat-raised-button color="warn">Cập Nhật</button>
        </div>
    </div>
    &#160;&#160;&#160;&#160;&#160;&#160;
    <app-edit-auth [user]="this.user" class="w-25"></app-edit-auth>
</div>