<mat-toolbar color="primary" class="d-flex justify-content-between">
    <div>
        <span style="cursor: pointer;" [routerLink]="['/']">ALAN Shop</span>
        <span class="example-spacer"></span>
    </div>

    <div>
        <button [routerLink]="['cart']" class="mx-3" mat-raised-button color="primary" matBadge="{{getNum()}}" matBadgePosition="after" matBadgeColor="accent">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button (click)="goChatPage()" class="mx-3" mat-raised-button color="primary">
            <mat-icon> message</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <div class="d-flex">
                <img class="stye-img mx-2" mat-card-image src="{{this.avatar}}" alt="Avatar of User">
                <h1>{{getUserName()}}</h1>
            </div>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="goProfile()" mat-menu-item>Profile</button>
            <button [routerLink]="['manage']" *ngIf="checkDistributorRole" mat-menu-item>Manage Product</button>
            <button (click)="goAdminPage()" *ngIf="this.checkRole" mat-menu-item>Admin Manager</button>
            <button (click)="logoutAccount()" mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>